@use 'sass-mq/mq';

.bussines-info {
    background: url(../img/photo.jpg) no-repeat center;
    background-size: cover;

    border-radius: var(--border-radius);
    
    padding: 5% 10%;

    @include mq.mq(xl) {
        padding: 70px 300px;
    }

    p {
        margin-bottom: var(--margin);
    }

    ul {
        li {
            margin-bottom: 10px;
            padding-left: 40px;
            position: relative;

            &::before {
                content: '';

                background-color: var(--color-red);
                border-radius: 50%;
                display: block;
                height: 10px;
                width: 10px;

                position: absolute;
                left: 15px;
                top: 3px;
            }
        }
    }
}