@use 'sass-mq/mq';

.btn {
    --btn-bg-color: var(--color-red);
    --btn-color: var(--color-white);

    background-color: var(--btn-bg-color);
    border-radius: 8px;

    color: var(--btn-color);
    display: inline-block;

    padding: 10px 50px;

    text-align: center;
    text-decoration: none;

    transition: all .25s;

    @include mq.mq($until: sm) {
        display: block;
        width: 100%;
    }

    &:hover {
        --btn-color: var(--color-black);
    }

    &--black {
        --btn-bg-color: var(--color-black);
    }

    &--block {
        display: block;
        width: 100%;
    }
}