@use 'sass-mq/mq';

.device {
    $p: &;

    display: flex;
    padding-left: 200px;
    position: relative;

    height: 937px;
    width: 1160px;

    &-scroll-info {
        color: var(--color-light);
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        @include mq.mq(lg) { 
            display: none;
        }
    }

    &__info {
        position: absolute;
        z-index: 12;
        
        width: 50%;

        p {
            pointer-events: none; 

            border-radius: 10px;
            background-color: #fafafa;
            border: 1px solid transparent;
            box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.1);

            padding: 20px 40px;
            width: 285px;

            transition: border-color .75s;

            position: relative;
            z-index: 2;
        }

        &:hover {
            p {
                border-color: var(--color-gray);
            }
            
        }

        &--1 {
            left: 0px;
            top: 60px;
        }

        &--2 {
            left: 0px;
            top: 198px;
        }

        &--3 {
            left: 0px;
            top: 336px;
        }

        &--4 {
            left: 0px;
            top: 512px;
        }

        &--5 {
            left: 0px;
            top: 688px;
        }

        &--6 {
            left: 50%;
            top: 60px;

            p {
                margin-left: auto;
            }
        }

        &--7 {
            left: 50%;
            top: 255px;

            p {
                margin-left: auto;
            }
        }

        &--8 {
            left: 50%;
            top: 412px;

            p {
                margin-left: auto;
            }
        }

        &--9 {
            left: 50%;
            top: 626px;

            p {
                margin-left: auto;
            }
        }

        &--10 {
            left: 50%;
            top: 764px;

            p {
                margin-left: auto;
            }
        }
    }

    
    .point.pos-1 {
        --point-rotate: 170deg;
        left: 524px;
        top: 60px;
    }
    .point.pos-2 {
        --point-rotate: 181deg;
        left: 499px;
        top: 246px;
    }
    .point.pos-3 {
        --point-rotate: 174deg;
        left: 465px;
        top: 380px;
    }
    .point.pos-4 {
        --point-rotate: 166deg;
        left: 511px;
        top: 509px;
    }
    .point.pos-5 {
        --point-line-width: 180px;
        --point-rotate: 129deg;

        left: 385px;
        top: 606px;
    }
    .point.pos-6 {
        --point-rotate: 342deg;
        left: 677px;
        top: 195px;
    }
    .point.pos-7 {
        --point-rotate: 345deg;
        left: 690px;
        top: 367px;
    }
    .point.pos-8 {
        --point-rotate: 1deg;
        left: 690px;
        top: 483px;
    }
    .point.pos-9 {
        --point-rotate: 9deg;
        left: 624px;
        top: 630px;
    }
    .point.pos-10 {
        --point-rotate: 16deg;
        left: 674px;
        top: 763px;
    }
}