@use 'sass-mq/mq';

.device-advantages {
    $p: &;

    background: url(../img/Rectangle_783.svg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);

    text-align: center;

    position: relative;
    z-index: 2;

    &__media {
        display: inline-block;
        left: -20px;
        position: relative;

        text-align: center;

        img {
            max-height: 100%;
            transition: opacity .75s;
        }

        & + & {
            position: absolute;
            top: 0;
            left: 40px;
            bottom: 0;
            z-index: -1;
            overflow: hidden;

            img {
                opacity: 0;
                transform: scale(1.06);
                transform-origin: top;
            }
        }

        @include mq.mq(md) {
            &:first-child::before {
                content: '';
                position: absolute;
                top: 0;
                left: -35%;
                right: -22%;
                bottom: 0;
                z-index: 3;
    
                background-image: url(../img/Group_4000.svg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        @include mq.mq(lg) {
            #{$p}:hover & img {
                opacity: 0;
            }
    
            #{$p}:hover & + & img {
                opacity: 1;
            }
        }
    }

    --ponit-line-color: #fff;
    --point-line-width: 120px;

    .point.pos-1 {
        left: 35%;
        top: 31%;
    }
    .point.pos-2 {
        left: 33.5%;
        top: 60%;
    }
    .point.pos-3 {
        left: 77%;
        top: 34%;
    }

    @include mq.mq($until: lg) {
        .point::after {
            content: none;
        }
    }

    &__info {
        position: absolute;

        p {
            pointer-events: none; 

            border: 1px solid rgba(255, 255, 255, 1);
            border-radius: $border-radius;
            background-color: rgba(255, 255, 255, 0.75);
            box-shadow: $box-shadow;

            font-size: .75em;

            padding: 10px;

            position: relative;
            z-index: 2;

            img {
                border-radius: $border-radius;
                display: block;
                margin: -5px -5px 10px;
                max-width: calc(100% + 10px);
            }
        }

        &.pos-1 {
            display: none;
            left: -45px;
            top: 140px;

            p {
                width: 145px;
            }

            @include mq.mq(lg) {
                display: block;
            }
        }

        &.pos-2 {
            display: none;
            left: -100px;
            bottom: 70px;

            p {
                width: 180px;
            }

            @include mq.mq(lg) {
                display: block;
            }
        }

        &.pos-3 {
            display: none;
            right: 10px;
            top: 60px;

            p {
                width: 125px;
            }

            @include mq.mq(lg) {
                display: block;
            }
        }
    }

    &__badges {
        display: flex;
        gap: 5px;

        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}