.equipment {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    img {
        display: block;
        margin: 0 auto 10px;
        max-height: 168px;
    }

    h4 {
        a {
            color: inherit;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
            }
        }
    }
}