@use 'sass-mq/mq';

.product {
    $p: &;

    background-color: var(--color-gray);
    background-image: url(../img/Group_4220.png);
    background-size: cover;
    border-radius: var(--border-radius);
    color: var(--color-black);

    margin-bottom: var(--margin);
    padding: 40px 20px;
    position: relative;

    display: flex;
    flex-direction: column;

    img {
        margin-top: auto;
    }

    &--img-sticky {
        img {
            margin-bottom: -40px;
            margin-right: -20px;
            margin-left: auto;
        }
    }
    &--img-up { 
        img {
            margin-top: -30px;
        }

        @include mq.mq(1365px) { 
            img {
                margin-top: -100px;
            }
        }
    }

    .d-flex > &  {
        flex-basis: 100%;
    }
}

.product-full {

    &__media {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        :where(img) {
            position: relative;
        }

        @include mq.mq($until: lg) { 
            margin-bottom: 60px;
        }
        @include mq.mq(lg) { 
            min-height: 538px;
        }
        @include mq.mq(xl) { 
            margin: -60px 0;
        }

        /*&::before {
            content: "";

            background-image: url(../img/Ellipse_75.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            position: absolute;
            inset: 0 0 0 85px;
        }*/
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        & > * {
            margin: 0!important;
        }

        ul {
            @include mq.mq(xl) {
                &.product-full__info {
                    column-count: 2;
                    column-gap: 20px;
                }
            }
    
            li {
                display: inline-block;
                margin-bottom: 10px;
                position: relative;
                padding-left: 1.5rem;

                &::before {
                    content: ".";

                    position: absolute;
                    left: 8px;
                    top: -5px;
                    font-weight: 500;
                }
            }
        }
    }
    &__price {
        @include mq.mq(xl) {
            white-space: nowrap;
        }
    }
}