@use 'sass-mq/mq';

.product {
    $p: &;

    background-color: var(--color-gray);
    background-image: url(../img/Group_4220.png);
    background-size: cover;
    border-radius: var(--border-radius);
    color: var(--color-black);

    margin-bottom: var(--margin);
    padding: 40px 20px;
    position: relative;

    display: flex;
    flex-direction: column;

    img {
        margin-top: auto;
    }

    &--img-sticky {
        img {
            margin-bottom: -40px;
            margin-right: -20px;
            margin-left: auto;
        }
    }
    &--img-up { 
        img {
            margin-top: -30px;
        }

        @include mq.mq(1365px) { 
            img {
                margin-top: -100px;
            }
        }
    }

    .d-flex > &  {
        flex-basis: 100%;
    }
}