<div class="bg-red theme-dark mb-global">
    <div class="row mb-xl-20">
        <div class="col-xs-12 col-xl-3 mb-xl-20">
            <p class="fs-lg">Оптимизируйте работу зала и&nbsp;кухни</p>
        </div>
        <div class="col-xs-12 col-md-4 col-xl-3 mb-md-20">
            <p><img src="img/Group_4476.svg" alt=""></p>
            <p>Управляйте очередью, запускайте акции и программы лояльности</p>
        </div>
        <div class="col-xs-12 col-md-4 col-xl-3 mb-md-20">
            <p><img src="img/Group_4476.svg" alt=""></p>
            <p>Принимайте платежи, выдавайте чеки на&nbsp;месте или по&nbsp;e-mail</p>
        </div>
        <div class="col-xs-12 col-md-4 col-xl-3">
            <p><img src="img/Group_4476.svg" alt=""></p>
            <p>Контролируйте расход и&nbsp;сроки годности продуктов</p>
        </div>
    </div>
</div>