<section class="bg-black theme-dark">
    <div class="container">
        <h3>Дополнительное оборудование для бизнеса</h3>

        <div class="row">
            {% for item in equipment %}
            <div class="col-xs-12 col-sm-6 col-xl-4 d-flex">
                <div class="card card--sm card--media">
                    <img src="{{ item.image }}" alt="{{ item.name }}">

                    <div class="card__content">
                        <h4>{{ item.name }}</h4>
                        <p class="fs-big color-red">{{ item.price }}</p>
                        <button class="btn btn--block mt-a covering-link js-open-form">Купить</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>