<section class="section-hero theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Умные кассы для&nbsp;малого&nbsp;бизнеса</h1>

                <ul class="fs-big">
                    <li>Работайте с маркировкой</li>
                    <li>Выдавайте чеки на месте</li>
                    <li>Принимайте платежи</li>
                </ul>

                <p><button class="btn js-open-form" type="button">Бесплатная консультация</button></p>
            </div>
        </div>
    </div>
</section>