<section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-4 d-flex">
                <div class="card card--kassa card--red">
                    <h3 class="mb-20">Какой должна быть касса</h3>

                    <img src="img/kassa.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Работа с маркированными товарами</h4>
                            <ul>
                                <li>ЭДО, ЕГАИС</li>
                                <li>Автосоздание карточки товара</li>
                                <li>Проверка в системе «Честный ЗНАК»</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Удобный и понятный интерфейс</h4>
                            <ul>
                                <li>Кассу легко настроить и подключить</li>
                                <li>Легко следить за показателями бизнеса</li>
                                <li>Можно экономить на бухгалтерии</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Преимущества для малого бизнеса</h4>
                            <ul>
                                <li>Компактность кассы</li>
                                <li>Длительная работа аккумулятора</li>
                                <li>Возможность формировать цену на месте</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Будьте на шаг впереди</h4>
                            <ul>
                                <li>Настройте программу лояльности</li>
                                <li>Размещайте на чеках информацию о бонусах и акциях</li>
                                <li>Отправляйте чеки на e-mail</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>