<section class="bg-gray">
    <div class="container">
        <h3>Какой должна быть касса?</h3>

        <div class="row">
            <div class="col-xs-12 col-lg-4 d-flex">
                <div class="card card--kassa card--red">
                    <h4>Касса должна быть АТОЛ</h4>

                    <img src="img/kassa.png" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-lg-8">
                <div class="row">
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Возможность работы с маркировкой</h4>
                            <p>Некоторые товары подлежат обязательной маркировке: обувь, одежда, кухонное и постельное белье, табак, шины, духи и фототехника. Информацию о продаже таких товаров нужно передавать в систему "Честный знак". Если вы ими торгуете, вам нужна касса, которая сможет это сделать.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Длительное время работы аккумулятора</h4>
                            <p>Одни кассы в принципе не работают без подключения к сети электропитания, другие работают не более 5 часов. Если в вашей точке негде заряжать кассу, выбирайте модель, которая сможет проработать нужное вам количество часов.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Возможность формировать цену на месте</h4>
                            <p>Не все кассы можно настроить так, чтобы устанавливать цену прямо при продаже, например, если покупатель сторговал цену ниже. Если важна такая возможность — выбирайте кассу с нужным функционалом.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 d-flex">
                        <div class="card">
                            <h4>Компактность кассы</h4>
                            <p>Кассы бывают разными: компактные, похожие на большой калькулятор, планшеты, а бывают в формате полноценного компьютера. Выбирайте решение, которое сможете разместить на точке.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>