<h3>Оборудование для маркировки</h3>
<div class="row">
    {% for key in labeling %}
    <div class="col-xs-12 col-sm-6 col-xl-3 d-flex">
        <div class="card card--sm card--equipment">
            <div class="card__media">
                <img src="{{ catalog[key].image }}" alt="">
            </div>

            <p class="fw-500">{{ catalog[key].name }}</p>
            <div class="card__buy mt-a">
                <p class="color-red">{{ catalog[key].price }}</p>
                <a href="#product-{{ key }}" class="btn btn--outline btn--block btn--xs covering-link js-product">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>