<h3>Маркировка <br />и&nbsp;учет товаров</h3>
<div class="row">
    <div class="col-xs-12 col-md-6 col-xl-3 mb-10">
        <img src="img/Group_4443.svg" alt="">
        <h4 class="mt-20">Передавайте данные в&nbsp;систему ЕГАИС, защитите себя от&nbsp;контрафактной продукции</h4>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3 mb-10">
        <img src="img/Group_4442.svg" alt="">
        <h4 class="mt-20">Настройте в ЭДО поставки, приемку и&nbsp;передачу данных о&nbsp;движении маркированных товаров в&nbsp;«Честный ЗНАК»</h4>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3 mb-10">
        <img src="img/Group_4441.svg" alt="">
        <h4 class="mt-20">Организуйте правильный возврат маркированных товаров, перемаркировку, ввод в&nbsp;оборот</h4>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-3 mb-10">
        <img src="img/Group_4444.svg" alt="">
        <h4 class="mt-20">Ведите учет товаров и&nbsp;сроков годности продуктов</h4>
    </div>
</div>