<section class="mistakes bg-black theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-xl-6">
                <div class="card card--lg mb-50 hide-md">
                    <img src="img/atol-sm.png" alt="">
                    <h3 class="mt-30">Продаете маркированный товар?</h3>
                    <p class="fs-big">Кассы АТОЛ помогут защитить бизнес от&nbsp;штрафов за&nbsp;неправильную работу с&nbsp;маркировкой</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-xl-6 first-md">
                <h3>Распространенные ошибки при работе с маркировкой</h3>

                <ol class="row row--count">
                    <li class="col-xs-12 col-md-6">
                        <h4>Нет маркировки <br class="show-lg" />на&nbsp;товаре</h4>
                        <p>Код должен наноситься на&nbsp;изделие, этикетку или упаковку. Если маркировка не&nbsp;нанесена или утеряна, то&nbsp;продажа такого товара запрещена</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Ошибки при приемке <br class="show-lg" />товара</h4>
                        <p>Необходимо, чтобы коды на товарах совпадали с&nbsp;кодами маркировки в&nbsp;принимаемых электронных документах (УПД, УКД, ИУПД и пр.)</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Товар промаркирован неправильно</h4>
                        <p>К примеру, состав кода маркировки не&nbsp;соответствует требованиям, отсутствуют разделители внутри кода или присутствуют лишние символы. В&nbsp;итоге в ГИС&nbsp;МТ при продаже будет отправлена некорректная информация</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Не подготовлено товароучетное ПО и оборудование</h4>
                        <p>Например, сканер удаляет символы GS1 в&nbsp;составе кода маркировки или кассовое ПО формирует чек без&nbsp;указания кода маркировки в&nbsp;теге&nbsp;1163</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>