<section class="mistakes bg-black theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-xl-6">
                <div class="card card--lg mb-50 hide-md">
                    <img src="img/atol-sm.png" alt="">
                    <h3 class="mt-30">Продаете маркированный товар?</h3>
                    <p class="fs-big">Кассы АТОЛ помогут защитить бизнес от&nbsp;штрафов за&nbsp;неправильную работу с&nbsp;маркировкой</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-8 col-xl-6 first-md">
                <h3>Распространенные ошибки при работе с маркировкой</h3>

                <ol class="row row--count">
                    <li class="col-xs-12 col-md-6">
                        <h4>Нет маркировки <br class="show-lg" />на&nbsp;товаре</h4>
                        <p>Код наносится на изделие, этикетку или упаковку. Если маркировка утеряна, то нужно обязательно промаркировать товар заново</p>
                        <p class="color-red">Штраф до&nbsp;300&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Товар промаркирован неправильно</h4>
                        <p>К примеру, код плохо пропечатан или есть другие нарушения стандарта, которые мешают распознать код</p>
                        <p class="color-red">Штраф до&nbsp;300&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Ошибки при приемке <br class="show-lg" />товара</h4>
                        <p>Необходимо, чтобы коды <br class="show-lg" />на&nbsp;товарах совпадали с&nbsp;кодами маркировки на балансе организации</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                    <li class="col-xs-12 col-md-6">
                        <h4>Нарушение правил мониторинга</h4>
                        <p>Например, отсутствие регистрации, ошибки в документах, отсутствие отчетности, передача неверной информации</p>
                        <p class="color-red">Штраф до&nbsp;100&nbsp;000&nbsp;руб.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>