<section>
    <div class="container">
        <h3>Остались вопросы?</h3>
        <div></div>
    </div>
    
    <div class="container question">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-md-offset-3 col-lg-7 col-lg-offset-5">
                <div class="card card--lg">
                    <h3 class="mb-20">Не тратьте время на&nbsp;поиск ответов</h3>
                    <p class="mb-20">Напишите, какие решения вам интересны и для каких задач. Наш официальный партнер свяжется с вами, предоставит консультацию и&nbsp;предложит выгодные варианты</p>
                    <p><button class="btn js-open-form" type="button">Получить консультацию</button></p>
                </div>
            </div>
        </div>
    </div>

</section>