<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <h3>Идеально для ИП и самозанятых</h3>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="card card--red card--room">
                            <h4>Общепит</h4>
                            <p>Столовые, кафе, бары, рестораны, пекарни, лавки, фудкорты, стритфуд и фудтраки</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="card card--gray card--food">
                            <h4>Торговля</h4>
                            <p>Магазины у дома, торговые павильоны, киоски, ларьки, вейпшопы</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-xl-12">
                        <div class="card card--red card--edu">
                            <h4>Образование</h4>
                            <p>Образовательные учреждения, языковые школы, репетиторы</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-xl-12 d-flex">
                        <div class="card card--gray">
                            <h4>Услуги</h4>
                            <p>Салоны красоты и SPA, ателье, автосервисы и&nbsp;шиномонтаж, нотариусы</p>
                        </div>
                    </div>
                </div>

                <p class="mt-a"><a href="#" class="btn">Оставить заявку</a></p>
            </div>
        </div>
    </div>
</section>