<footer class="theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    <a href="https://www.atol.ru/" target="_blank">
                        <img src="img/atol-big.svg" alt="АТОЛ">
                    </a>
                </p>

                <p><a href="tel:+74957237420" class="color-red-2">+7 495 723-74-20</a></p>

                <p>ООО «АТОЛ», ИНН 5010051677, 129085, Москва, ул. Годовикова,д. 9, стр. 17, этаж 4, пом. 5</p>
                <p>График работы: <br />пн-пт: 10:00-18:00 <br />сб-вс: выходные</p>
            </div>
            <div class="col-lg-3">
                <p><a href="#">О КОМПАНИИ</a></p>
                <ul>
                    <li><a href="#">История компании</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Вебинары</a></li>
                    <li><a href="#">Кейсы и отзывы</a></li>
                    <li><a href="#">Бизнес-партнеры</a></li>
                    <li><a href="#">Наши клиенты</a></li>
                    <li><a href="#">Сравнение тарифов</a></li>
                    <li><a href="#">Партнерам</a></li>
                    <li><a href="#">Пресс-центр</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Документы</a></li>
                </ul>

                <p><a href="#">МАРКИРОВКА</a></p>
                <ul>
                    <li><a href="#">Оборудование под ключ</a></li>
                    <li><a href="#">Законодательство</a></li>
                    <li><a href="#">Модернизация</a></li>
                    <li><a href="#">Маркировка обуви</a></li>
                    <li><a href="#">Маркировка лекарств</a></li>
                    <li><a href="#">Маркировка табака</a></li>
                    <li><a href="#">Сравнение тарифов</a></li>
                    <li><a href="#">Маркировка фото, вспышек</a></li>
                    <li><a href="#">Маркировка духов и парфюмерии</a></li>
                    <li><a href="#">Маркировка шин</a></li>
                    <li><a href="#">Маркировка легпрома</a></li>
                    <li><a href="#">Маркировка молочной продукции</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p><a href="#">КАТАЛОГ</a></p>

                <ul>
                    <li><a href="#">Продуктовые группы</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Соответствие законодательству</a></li>
                    <li><a href="#">Размер бизнеса</a></li>
                    <li><a href="#">Сферы применения</a></li>
                    <li><a href="#">Совместимые решения</a></li>
                    <li><a href="#">Прайс-лист</a></li>
                </ul>

                <p><a href="#">КОНТАКТЫ</a></p>
                <ul>
                    <li><a href="#">Контакты АТОЛ</a></li>
                    <li><a href="#">Контакты партнеров</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <p><a href="#">ПОЛЕЗНЫЕ РЕСУРСЫ</a></p>
                <ul>
                    <li><a href="#">Видео</a></li>
                    <li><a href="#">Презентации</a></li>
                    <li><a href="#">Сайты</a></li>
                    <li><a href="#">Соцмедиа АТОЛ</a></li>
                    <li><a href="#">Вопросы и ответы</a></li>
                    <li><a href="#">Материалы</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">Охрана труда</a></li>
                </ul>
                <p><a href="#">КАРТА САЙТА</a></p>
            </div>
        </div>

        <hr />

        <div class="flex-line">
            <p class="flex-line me-a">
                <a href="#" target="_blank">Оферта</a>
                <a href="#" target="_blank">Соглашение на обработку данных</a>
                <a href="#" target="_blank">Политика обработки cookies</a>
                <a href="#" target="_blank">Политика персональных данных</a>
            </p>

            <p class="color-white-600">&copy; 2001–2023 Компания АТОЛ</p>
        </div>
    </div>
</footer>