<footer class="theme-dark">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3 col-xl-2 mb-40 mb-lg-0">
                <p>
                    <a href="https://www.atol.ru/" target="_blank">
                        <img src="img/atol-big.svg" alt="АТОЛ">
                    </a>
                </p>

                <p>
                    <a href="tel:+74957237420" class="color-red-2">+7 495 723-74-20</a>
                    <br /><small>Бесплатный звонок по РФ</small>
                </p>

                <p>ООО «АТОЛ», ИНН 5010051677, 129085, <br />Москва, ул.&nbsp;Годовикова, д.&nbsp;9,&nbsp;стр.&nbsp;17, этаж&nbsp;4, пом.&nbsp;5</p>
                <p>График работы: <br />пн-пт: 10:00-18:00 <br />сб-вс: выходные</p>

                <p class="flex-line">
                    <a href="https://vk.com/aboutatol" target="_blank" class="social social--vk">
                        <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8931 12.6457C4.0599 12.6457 0.162399 7.96114 0 0.166016H3.42286C3.53529 5.88744 6.05865 8.31093 8.0574 8.81061V0.166016H11.2805V5.10043C13.2543 4.88806 15.3277 2.63947 16.0273 0.166016H19.2503C18.7132 3.21411 16.4646 5.46271 14.8656 6.38713C16.4646 7.13666 19.0256 9.09794 20 12.6457H16.4521C15.6901 10.2722 13.7914 8.43585 11.2805 8.186V12.6457H10.8931Z" fill="#13141C"/>
                        </svg>
                    </a>
                    <a href="https://tgclick.com/atolnews" target="_blank" class="social social--tk">
                        <svg width="21" height="18" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.2656 0.813154C19.2656 0.813154 21.1158 0.0917248 20.9616 1.84377C20.9102 2.56521 20.4477 5.09021 20.0879 7.82135L18.8545 15.9117C18.8545 15.9117 18.7517 17.0969 17.8266 17.303C16.9015 17.5091 15.5139 16.5816 15.2569 16.3755C15.0514 16.2209 11.4025 13.902 10.1177 12.7683C9.7579 12.4591 9.34676 11.8407 10.169 11.1193L15.5653 5.96626C16.182 5.34788 16.7988 3.90502 14.2291 5.65707L7.03409 10.5525C7.03409 10.5525 6.2118 11.0678 4.67004 10.604L1.32948 9.5734C1.32948 9.5734 0.096041 8.80045 2.20316 8.02745C7.34247 5.60549 13.6638 3.13202 19.2656 0.813154Z" fill="#13141C"/>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/user/ATOLvideo" target="_blank" class="social social--yt">
                        <svg width="21" height="15" viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.4939 1.54224C18.772 0.684049 17.439 0.333984 14.8935 0.333984H5.65318C3.04937 0.333984 1.69389 0.70663 0.974663 1.62031C0.273438 2.51115 0.273438 3.82373 0.273438 5.64037V9.10289C0.273438 12.6223 1.10544 14.4092 5.65318 14.4092H14.8936C17.101 14.4092 18.3243 14.1003 19.1156 13.343C19.9272 12.5663 20.2734 11.2982 20.2734 9.10289V5.64037C20.2734 3.72457 20.2192 2.40424 19.4939 1.54224ZM13.1135 7.84966L8.9175 10.0426C8.8237 10.0917 8.72111 10.116 8.61866 10.116C8.50266 10.116 8.38692 10.0848 8.2844 10.0227C8.09137 9.90573 7.9735 9.6965 7.9735 9.47082V5.09895C7.9735 4.87366 8.09105 4.66463 8.2837 4.5476C8.47641 4.43056 8.71608 4.42256 8.91602 4.52644L13.112 6.70527C13.3255 6.81611 13.4596 7.0365 13.4599 7.27695C13.4601 7.5176 13.3267 7.73831 13.1135 7.84966Z" fill="#13141C"/>
                        </svg>  
                    </a>
                </p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 col-xl-offset-1 mb-40 mb-md-0">
                <p class="footer-menu-title"><a href="https://www.atol.ru/company/" target="_blank">О КОМПАНИИ</a></p>
                <ul>
                    <li><a href="https://www.atol.ru/company/history/" target="_blank">История компании</a></li>
                    <li><a href="https://www.atol.ru/company/news/" target="_blank">Новости</a></li>
                    <li><a href="https://www.atol.ru/company/vebinary/" target="_blank">Вебинары</a></li>
                    <li><a href="https://www.atol.ru/keysy-otzyvy/" target="_blank">Кейсы и отзывы</a></li>
                    <li><a href="https://www.atol.ru/company/business-partners/" target="_blank">Бизнес-партнеры</a></li>
                    <li><a href="https://www.atol.ru/company/our-clients/" target="_blank">Наши клиенты</a></li>
                    <li><a href="https://www.atol.ru/company/partneram/" target="_blank">Партнерам</a></li>
                    <li><a href="https://www.atol.ru/company/media/" target="_blank">Пресс-центр</a></li>
                    <li><a href="https://www.atol.ru/contacts/kontakty-atol/" target="_blank">Контакты</a></li>
                    <li><a href="https://www.atol.ru/anti-corruption-policy-ethics.html" target="_blank">Документы</a></li>
                </ul>

                <p class="footer-menu-title"><a href="https://www.atol.ru/markirovka/" target="_blank">МАРКИРОВКА</a></p>
                <ul>
                    <li><a href="https://www.atol.ru/oborudovanie-dlya-markirovki/" target="_blank">Оборудование под ключ</a></li>
                    <li><a href="https://www.atol.ru/markirovka/zakon/" target="_blank">Законодательство</a></li>
                    <li><a href="https://www.atol.ru/modernizaciya-dlya-markirovki/" target="_blank">Модернизация</a></li>
                    <li><a href="https://www.atol.ru/markirovka-shoes/" target="_blank">Маркировка обуви</a></li>
                    <li><a href="https://www.atol.ru/markirovka-medication/" target="_blank">Маркировка лекарств</a></li>
                    <li><a href="https://www.atol.ru/markirovka-tobacco/" target="_blank">Маркировка табака</a></li>
                    <li><a href="https://www.atol.ru/markirovka-foto/" target="_blank">Маркировка фото, вспышек</a></li>
                    <li><a href="https://www.atol.ru/markirovka-perfumes/" target="_blank">Маркировка духов и парфюмерии</a></li>
                    <li><a href="https://www.atol.ru/markirovka-tires/" target="_blank">Маркировка шин</a></li>
                    <li><a href="https://www.atol.ru/markirovka-light-industry/" target="_blank">Маркировка легпрома</a></li>
                    <li><a href="https://www.atol.ru/markirovka-milk/" target="_blank">Маркировка молочной продукции</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3 mb-40 mb-md-0">
                <p class="footer-menu-title"><a href="https://www.atol.ru/catalog/" target="_blank">КАТАЛОГ</a></p>

                <ul>
                    <li><a href="https://www.atol.ru/catalog/produktovye-gruppy/" target="_blank">Продуктовые группы</a></li>
                    <li><a href="https://www.atol.ru/catalog/uslugi/" target="_blank">Услуги</a></li>
                    <li><a href="https://www.atol.ru/catalog/sootvetstvie-zakonodatelstvu/" target="_blank">Соответствие законодательству</a></li>
                    <li><a href="https://www.atol.ru/catalog/razmer-biznesa/" target="_blank">Размер бизнеса</a></li>
                    <li><a href="https://www.atol.ru/catalog/sfery-primeneniya/" target="_blank">Сферы применения</a></li>
                    <li><a href="https://www.atol.ru/softdev/" target="_blank">Совместимые решения</a></li>
                    <li><a href="https://www.atol.ru/price/" target="_blank">Прайс-лист</a></li>
                </ul>

                <p class="footer-menu-title"><a href="https://www.atol.ru/contacts/kontakty-atol/" target="_blank">КОНТАКТЫ</a></p>
                <ul>
                    <li><a href="https://www.atol.ru/contacts/kontakty-atol/" target="_blank">Контакты АТОЛ</a></li>
                    <li><a href="https://www.atol.ru/contacts/partner/" target="_blank">Контакты партнеров</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <p class="footer-menu-title"><a href="https://www.atol.ru/poleznye-resursy/" target="_blank">ПОЛЕЗНЫЕ РЕСУРСЫ</a></p>
                <ul>
                    <li><a href="https://www.atol.ru/poleznye-resursy/video/" target="_blank">Видео</a></li>
                    <li><a href="https://www.atol.ru/poleznye-resursy/prezentatsii/" target="_blank">Презентации</a></li>
                    <li><a href="https://www.atol.ru/poleznye-resursy/sites/" target="_blank">Сайты</a></li>
                    <li><a href="https://www.atol.ru/poleznye-resursy/atol-online/" target="_blank">Соцмедиа АТОЛ</a></li>
                    <li><a href="https://www.atol.ru/poleznye-resursy/faq/" target="_blank">Вопросы и ответы</a></li>
                    <li><a href="https://www.atol.ru/documents/" target="_blank">Материалы</a></li>
                    <li><a href="https://www.atol.ru/blog/" target="_blank">Блог</a></li>
                    <li><a href="https://www.atol.ru/poleznye-resursy/okhrana-truda/" target="_blank">Охрана труда</a></li>
                </ul>
                <p class="footer-menu-title"><a href="https://www.atol.ru/sitemap/" target="_blank">КАРТА САЙТА</a></p>
            </div>
        </div>
    </div>
    
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-xl-9">
                <p class="flex-line flex-line--wrap me-a mb-20 mb-md-0">
                    <a href="https://www.atol.ru/upload/agreement_files/soglasie_na_obrabotku_personalnih_dannih.pdf" target="_blank">Соглашение на обработку данных</a>
                    <a href="https://www.atol.ru/include/privacy.pdf" target="_blank">Политика обработки cookies</a>
                    <a href="https://www.atol.ru/upload/agreement_files/politika_personalnye_dannye_atol.pdf" target="_blank">Политика персональных данных</a>
                </p>
            </div>
            <div class="col-xs-12 col-md-6 col-xl-3">
                <p class="color-white-600 text-right-md">&copy; 2001–2023 Компания АТОЛ</p>
            </div>
        </div>
    </div>
</footer>