<div class="hide">
    <div class="row" id="form-callback">
        <div class="col-xs-12 col-lg-7">
            <div class="tingle-popup__content">
                <h3>Подберем оптимальное решение для вашей точки продаж</h3>
                <p>Оставьте свои контакты, и мы ответим в течение 24 ч</p>
                
                <div class="hide alert alert--success js-form-success">Ваше сообщение успено отправлено!</div>
                
                <form>
                    <div class="hide alert alert--error js-form-error">Пожалуйста, заполните все обязательные поля</div>
                    
                    <input type="text" name="name" required placeholder="Имя, фамилия" />
                    <input type="email" name="email" required placeholder="Email" />
                    <input type="text" name="phone" required placeholder="Телефон" />
                    <input type="text" name="place" required placeholder="Регион" />

                    <p><small>Нажимая на&nbsp;кнопку «Заказать обратный звонок», вы&nbsp;соглашаетесь с <a href="https://www.atol.ru/upload/agreement_files/politika_personalnye_dannye_atol.pdf" target="_blank" rel="noreferrer noopener">Политикой обработки персональных данных</a> и&nbsp;даете <a href="https://www.atol.ru/upload/agreement_files/soglasie_na_obrabotku_personalnih_dannih.pdf" target="_blank" rel="noreferrer noopener">Согласие на&nbsp;обработку ваших персональных данных</a></small></p>

                    <button class="btn btn--red" type="submit">ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК</button>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-lg-5 show-lg bg-callback"></div>
    </div>
</div>