<header class="header theme-dark">
    <div class="container">
        <div class="flex-line">
            <a href="https://www.atol.ru/" target="_blank" class="me-a"><img src="img/atol.svg" alt="АТОЛ"></a>
            <button class="btn btn--sm js-open-form show-sm">Оставить&nbsp;заявку</button>
        </div>
        
    </div>
</header>