<header class="header theme-dark">
    <div class="container">
        <div class="flex-line">
            <a href="https://www.atol.ru/" target="_blank" class="me-a"><img src="img/atol.svg" alt="АТОЛ"></a>
            <a href="#catalog" class="btn btn--sm show-sm">Каталог</a>
        </div>
        
    </div>
</header>