<header class="header theme-dark">
    <div class="container">
        <div class="flex-line flex-line--wrap">
            <a href="https://www.atol.ru/" target="_blank" class="me-a">
                <img src="img/atol2.svg" alt="АТОЛ">
            </a>
        </div>
        
    </div>
</header>