<header class="header">
    <div class="container">
        <div class="flex-line">
            <a href="https://www.atol.ru/" target="_blank" class="me-a"><img
                src="img/atol.svg" alt="АТОЛ"></a>
            <button class="btn" type="button">Каталог</button>
        </div>
        
    </div>
</header>