<template id="product-3210">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-7">
                <div class="swiper product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/3210/_3210_2.jpg">
                                <img src="img/3210/_3210_2.jpg" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/3210/Foto_KSO_3210_s_ekra.png">
                                <img src="img/3210/Foto_KSO_3210_s_ekra.png" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/3210/7a38ee85ab6c6e57992d.png">
                                <img src="img/3210/7a38ee85ab6c6e57992d.png" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/3210/b144a0811aa7947f0dd6.png">
                                <img src="img/3210/b144a0811aa7947f0dd6.png" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/3210/IMG_9694.jpeg">
                                <img src="img/3210/IMG_9694.jpeg" />
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div class="swiper product-swiper-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/3210/_3210_2.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/3210/Foto_KSO_3210_s_ekra.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/3210/7a38ee85ab6c6e57992d.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/3210/b144a0811aa7947f0dd6.png" />
                        </div>
                        <div class="swiper-slide">
                            <img src="img/3210/IMG_9694.jpeg" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-lg-5">
                <h3>АТОЛ КСО 3210</h3>
                <p>Компактная и эргономичная</p>
                <p class="fs-20 color-red">130 000р.</p>
                <p class="btn-group">
                    <a href="https://www.atol.ru/catalog/atol-kso-3210/?utm_source=atolatol.tilda.ws&utm_medium=referral&utm_campaign=atolatol.tilda.ws&utm_referrer=atolatol.tilda.ws" target="_blank" class="btn btn--red">Купить</a>
                    <a href="https://cl.atol.ru/d/17fefd2077/" class="btn" target="_blank">Скачать материалы</a>
                </p>

                <p><strong>Описание</strong></p>
                <p class="fs-small">АТОЛ КСО 3210 — самая компактная касса самообслуживания (КСО) в линейке АТОЛ. Сократит ваши затраты на привлечении персонала и увеличит лояльность ваших покупателей. Идеально подойдет магазинам у дома, мини-маркетам, заправкам, ресторанам, кафе и другим точкам с маленькой площадью.</p>

                <p><strong>Технические характеристики:</strong></p>
                <ul class="fs-small">
                    <li>Процессор Intel Celeron J6412 2.0GHz</li>
                    <li>Накопитель SSD 128GB / 256GB</li>
                    <li>Оперативная память DDR4 4GB / 8GB</li>
                    <li>Поддерживаемые ОС Windows / Linux</li>
                    <li>Диагональ 21.5"</li>
                    <li>Сенсорный дисплей</li>
                    <li>Габариты 318мм × 800мм × 345мм</li>
                    <li>Вес 14кг</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<template id="product-4210">
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="img/4210/_4210_1.jpg">
                            <img src="img/4210/_4210_1.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/ATOL_KSO_4210.png">
                            <img src="img/4210/ATOL_KSO_4210.png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9130_UPD.jpeg">
                            <img src="img/4210/KSO_IMG_9130_UPD.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9215.jpeg">
                            <img src="img/4210/KSO_IMG_9215.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9211.jpeg">
                            <img src="img/4210/KSO_IMG_9211.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9217.jpeg">
                            <img src="img/4210/KSO_IMG_9217.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9223.jpeg">
                            <img src="img/4210/KSO_IMG_9223.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4210/KSO_IMG_9231.jpeg">
                            <img src="img/4210/KSO_IMG_9231.jpeg" />
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper product-swiper-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/4210/_4210_1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/ATOL_KSO_4210.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9130_UPD.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9215.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9211.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9217.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9223.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4210/KSO_IMG_9231.jpeg" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-5">
            <h3>АТОЛ КСО 4210</h3>
            <p>Продвинутый уровень</p>
            <h4 class="color-red">189 000р.</h4>
            <p class="btn-group">
                <a href="https://www.atol.ru/catalog/atol-kso-4210/?utm_source=atolatol.tilda.ws&utm_medium=referral&utm_campaign=atolatol.tilda.ws&utm_referrer=atolatol.tilda.ws" target="_blank" class="btn btn--red">Купить</a>
                <a href="https://cl.atol.ru/d/ef6cdcf2f7/" class="btn" target="_blank">Скачать материалы</a>
            </p>

            <p><strong>Описание</strong></p>
            <p class="fs-small">АТОЛ КСО 4210 — касса самообслуживания (КСО) продвинутого уровня. Сократит ваши затраты на привлечении персонала и увеличит лояльность ваших покупателей. Отличное решение как для сетевого ритейла, так и для небольших торговых точек, АЗС, кафе, фудкортов.</p>

            <p><strong>Технические характеристики:</strong></p>
            <ul class="fs-small">
                <li>Процессор Intel® Core™ i5 1135G7 2.4GHz</li>
                <li>Накопитель SSD M.2 128GB / 256GB</li>
                <li>Оперативная память DDR4 4GB / 8GB</li>
                <li>Поддерживаемые ОС Windows / Linux</li>
                <li>Диагональ 21,5"</li>
                <li>Сенсорный дисплей</li>
                <li>Габариты 367мм x 139мм x 767мм</li>
                <li>Вес 19кг</li>
            </ul>
        </div>
    </div>
</template>
<template id="product-4271">
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <div class="swiper product-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="img/4271/_4271_1.jpg">
                            <img src="img/4271/_4271_1.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9641_UPD.png">
                            <img src="img/4271/IMG_9641_UPD.png" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9675.jpeg">
                            <img src="img/4271/IMG_9675.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9676.jpeg">
                            <img src="img/4271/IMG_9676.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9647.jpeg">
                            <img src="img/4271/IMG_9647.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9651.jpeg">
                            <img src="img/4271/IMG_9651.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9658.jpeg">
                            <img src="img/4271/IMG_9658.jpeg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="img/4271/IMG_9662.jpeg">
                            <img src="img/4271/IMG_9662.jpeg" />
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="swiper product-swiper-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/4271/_4271_1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9641_UPD.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9675.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9676.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9647.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9651.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9658.jpeg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/4271/IMG_9662.jpeg" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-lg-5">
            <h3>АТОЛ КСО 4271</h3>
            <p>Для любого масштаба</p>
            <h4 class="color-red">271 000р.</h4>
            <p class="btn-group">
                <a href="https://www.atol.ru/catalog/atol-kso-4271/?utm_source=atolatol.tilda.ws&utm_medium=referral&utm_campaign=atolatol.tilda.ws&utm_referrer=atolatol.tilda.ws" target="_blank" class="btn btn--red">Купить</a>
                <a href="https://cl.atol.ru/d/16e9233575/" class="btn btn--160" target="_blank">Скачать материалы</a>
            </p>

            <p><strong>Описание</strong></p>
            <p class="fs-small">АТОЛ КСО 4271 — производительная касса самообслуживания (КСО) для бесперебойной работы точки продаж любого масштаба. Сократит ваши затраты на привлечении персонала и увеличит лояльность ваших покупателей. Идеальное решение для магазинов, заведений общественного питания и сферы услуг с высокой и средней проходимостью.</p>

            <p><strong>Технические характеристики:</strong></p>
            <ul class="fs-small">
                <li>Процессор Intel® Core™ i5 1135G7 2.4GHz</li>
                <li>Накопитель SSD M.2 128GB / 256GB</li>
                <li>Оперативная память DDR4 4GB / 8GB</li>
                <li>Поддерживаемые ОС Windows / Linux</li>
                <li>Диагональ 27"</li>
                <li>Сенсорный дисплей</li>
                <li>Габариты 475мм x 170мм x 960мм</li>
                <li>Вес 28,5кг</li>
            </ul>
        </div>
    </div>
</template>