input[type="text"],
input[type="email"],
textarea {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color:  var(--color-dark-gray);
    font-size: .75em;

    display: block;
    padding: 10px;
    margin-bottom: 10px;

    width: 100%;

    &:user-invalid {
        border-color: var(--color-red);
    }
}

textarea {
    min-height: 100px;

    &::placeholder {
        color: var(--color-dark-gray);
    }
}