<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Умные кассы для малого бизнеса</title>
    <meta name="description" content="Компания АТОЛ - IT-лидер в области автоматизации ритейла, торговли и сферы услуг" />
    <meta property="og:image" content="img/Kupit_kassu_1200x630.jpg" />
</head>
<body>
    {% include "templates/partials/header.twig" %}

    <main>
        {% include "templates/sections/hero.twig" %}
        {% include "templates/sections/suitable-for.twig" %}
        {% include "templates/sections/solutions.twig" %}
        {% include "templates/sections/equipment.twig" %}

        <div class="container wrapper-bg-gray">
            {% include "templates/sections/kassa.twig" %}
            <section class="bg-black theme-dark">
                <div class="container">
                    {% include "templates/sections/labeling.twig" %}
                    <div class="divider"></div>
                    {% include "templates/sections/labeling-equipment.twig" %}
                    <div class="divider"></div>
                    {% include "templates/sections/software.twig" %}
                    <div class="divider"></div>
                    {% include "templates/sections/mistakes.twig" %}
                </div>
            </section>
            
            {% include "templates/sections/connect.twig" %}
            {% include "templates/sections/question.twig" %}
        </div>
    </main>

    {% include "templates/partials/footer.twig" %}
    {% include "templates/partials/form.twig" %}
    
    <script type="module" src="/src/js/main.js"></script>
</body>
</html>