body > footer {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: .875em;
    line-height: 1.285;
    padding: 60px 0;

    ul {
        &:not(:last-child) {
            margin-bottom: var(--block-margin);
        }

        li + li {
            margin-top: 8px;
        }
    }

    hr {
        background: var(--color-white-600);
        margin: 30px 0;
    }

    a:hover {
        text-decoration: underline;
    }

    .footer-menu-title a {
        color: var(--color-white);
        text-decoration: underline;
        text-underline-position: under;
    }
}