@use 'sass-mq/mq';

body > header {
    padding: 36px 0;
    
    position: absolute;
    width: 100%;
    z-index: 10;

    &.is-fixed {
        padding: 0;
        position: fixed;
        animation: slideup .5s;

        .container {
            background-color: rgba($color: #13141C, $alpha: 0.9);
            border-bottom-right-radius: var(--border-radius-big);

            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

@keyframes slideup {
    0% {
        top: -100%; 
        opacity: 0;
    }
  
    100% {
        top: 0px; 
        opacity: 1;
    }
}