@use 'sass-mq/mq';

section {
    padding: var(--section-padding) 0;
    position: relative;

    &.section-hero {
        padding-top: 0;

        .container {
            background-image: url(../img/light_cafe_03_2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;


            border-bottom-right-radius: var(--border-radius-big);
            
            padding-top: 340px;
            padding-bottom: 80px;
        }

        ul {
            list-style: disc inside;
            margin-bottom: var(--block-margin);

            li + li {
                margin-top: 10px;
            }
        }
    }
    
    &.bg-black {
        padding: 0;

        .container {
            background-color: var(--color-black);

            border-top-left-radius: var(--border-radius-big);
            border-bottom-right-radius: var(--border-radius-big);

            padding-top: calc(var(--section-padding) * 2);
            padding-bottom: 220px;

            @include mq.mq(md) { 
                background-image: url(../img/pattern_11.png);
                background-repeat: no-repeat;
                background-position: right top;
            }
        }

        & + section,
        & + .wrapper-bg-gray {
            margin-top: -120px;
            padding: 0;
        }
    }
}